/* Navbar */
nav {
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

nav a img {
    width : 150px ;
}

nav a {
    display: flex;
    gap: 12px;
    text-decoration: none;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a {
    color: #ced4da;
}

nav ul li a:hover {
    color: #f1f3f5;
}

@media (max-width: 768px) {
    nav {
        display: grid;
        justify-content: center;
        gap: 24px;
    }
}

/* main div */
.container {
    max-width: 1480px;
    padding: 24px 48px;
    margin: 0 auto;
}
